<h4>Sign our pritation for ----reasons to avaoid some</h4>
<form method="post" id="form">
<canvas id="canvas"></canvas><br>
<input type="hidden" id="hidden-input" name = 'hidden' value="">
<button type="submit" id="button">Submit</button>
</form>
<script src = "/script.js" type="text/javascript">
</script>
