<h6> Please SignIn</h6>
<form method="post" id="form">
<input type="email" name="email" placeholder="email"><br>
<input type="password" name="password" placeholder="password"><br>
<button type="submit" id="button">LogIn</button>
</form>
