<h4>Now please tell us some more about yourself..</h4>
<form method="post" id="form">
<input type="text" name="age" placeholder="age"><br>
<input type="text" name="cite" placeholder="city"><br>
<input type="text" name="url" placeholder="home page" value=""><br>
<button type="submit" id="button">Continue</button>
</form>
