<h4>Thanks for signing our petition. You are special.</h4>
<img src="{{signature}}" alt="user signature"></br>
<a href="./signers">See all {{count}} signers</a>
<a href="./profile/edit">Edit your profile</a>
<a href="./deleteSignature">Delete your Sign</a>
